@use './base.scss' as *;

// ANIMATIONS
@keyframes loading {
  to {
    background-position-x: -20%;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
