@use '@/app/assets/mixins.scss' as mix;
.productsSection {
  margin: 40px 0;
}
.productsSectionTitle {
  @include mix.headline24Typo;
}
.icon {
  will-change: transform;
  transition: transform 0.3s ease-in-out;
  &.rotate {
    transform: rotate(-180deg);
  }
}
.productListHeader {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.productListContainer {
  margin-top: 20px;
}
